.boody{
 
margin: 0;
padding: 0;

background-color: aqua;
}

.bodyindumentaria{


background-color: aqua;
}

.carro{

background-color: aqua }

.axesorio {

    background-color: aqua;

}

.colexio {

    background-color: aqua;
}

.teexto{
display: grid;
align-items: flex-end;
font-size: 50px;
width: 1450px;
margin-left: 170px;
margin-top: 20px;
margin-bottom: 20px;
height: auto;
background-color: #fff;
border-radius: 30px;
box-shadow: 10px 10px #00000039;
gap: 20px;
}

.card {
background-color: rgb(221, 61, 61) 
    
}

.nosotross{

    background-color: aqua;
}


.separacion {

    size: 100px;
}



.card-img-top{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item{
font-style: unset;
    font-size: 20px;
}

@media(max-widht:768px){

    .nosotross
}