.boody{
 
margin: 0;
padding: 0;

background-color: aqua;
}

.bodyindumentaria{


background-color: aqua;
}

.carro{

background-color: aqua }

.axesorio {

    background-color: aqua;

}

.colexio {

    background-color: aqua;
}

.card-text{

font-size: 50px;



}

.card {
background-color: rgb(196, 29, 29) 
    
}

.nosotross{

    background-color: aqua;
}


.separacion {

    size: 100px;
}



.card-img-top{
    display: flex;
    justify-content: center;
    align-items: center;
}


